{{ $_hugo_config := `{ "version": 1 }` }}
{{ $align := "center" }}
{{ if .Get " align" }}
{{ $align := .Get "align" }}
{{ end }}
<!--
    file name and path from; https://github.com/matcornic/hugo-theme-learn/blob/master/layouts/shortcodes/mermaid.html
    shortcode js/html from; https://liveaverage.com/projects/integration-mermaid/
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.3.0/mermaid.min.js" type="text/javascript"></script>
<script type="text/javascript">
    mermaid.initialize({
        theme: 'dark',
        themeCSS: '',
        cloneCssStyles: false,
        useMaxWidth: true,
        htmlLabels: false,
        flowchart: {
            curve: 'basis'
        },
        logLevel: 3
    });
</script>
<pre class="mermaid" align="{{ $align }}">
    {{ safeHTML .Inner }}
</pre>