{{ if $.Page.Params.series }}
{{ $name := index $.Page.Params.series 0 | urlize }}
{{ $series := index $.Page.Site.Taxonomies.series $name }}
<ul class="series">
    {{ range sort $series.Pages }}
    <small>
        <li><a href="{{.Permalink}}">{{.LinkTitle}}</a></li>
    </small>
    {{end}}
</ul>
{{end}}